{% extends 'base.html' %}

{% load humanize %}
{% load static %}
{% block title %}{{ blog.title }}{% endblock %}

{% block content %}
    <!-- ======= Intro Single ======= -->
    <section class="intro-single">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="title-single-box">
                        <h1 class="title-single">{{ blog.title }}</h1>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <nav aria-label="breadcrumb" class="breadcrumb-box d-flex justify-content-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{% url 'blog:index' %}">Blogs</a>
                            </li>
                            <li class="breadcrumb-item active" aria-current="page">
                                {{ blog.title }}
                            </li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Intro Single-->
    <!-- ======= Blog Single ======= -->
    <section class="news-single nav-arrow-b">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="news-img-box text-center">
                        <img src="{{ blog.thumbnail.url }}" alt="" class="img-fluid rounded-5">
                    </div>
                </div>
                <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                    <div class="post-information">
                        <ul class="list-inline text-center color-a">
                            <li class="list-inline-item mr-2">
                                <strong>Author: </strong>
                                <span class="color-text-a">Emre Tuncer</span>
                            </li>
                            <li class="list-inline-item mr-2">
                                <strong>Category: </strong>
                                <span class="color-text-a">{{ blog.category.name }}</span>
                            </li>
                            <li class="list-inline-item">
                                <strong>Date: </strong>
                                <span class="color-text-a">{{ blog.created_at|date:"d M. Y" }}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="post-content color-text-a">
                        {{ blog.content|safe }}
                    </div>
                    <div class="post-footer">
                        <div class="post-share">
                            <span>Share: </span>
                            <ul class="list-inline socials">
                                <li class="list-inline-item">
                                    <a href="#">
                                        <i class="bi bi-facebook" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">
                                        <i class="bi bi-twitter" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">
                                        <i class="bi bi-instagram" aria-hidden="true"></i>
                                    </a>
                                </li>
                                <li class="list-inline-item">
                                    <a href="#">
                                        <i class="bi bi-linkedin" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-10 offset-md-1 col-lg-10 offset-lg-1">
                    <div class="title-box-d">
                        <h3 class="title-d">Comments ({{ comments.count }})</h3>
                    </div>
                    {% if messages %}
                        <div class="container">
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert"
                                            aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                    <div class="box-comments">
                        <ul class="list-comments">
                            {% for comment in comments %}
                                {% if not comment.has_parent %}
                                    <li>
                                        <div class="comment-avatar">
                                            <img src="https://st3.depositphotos.com/9998432/13335/v/450/depositphotos_133351928-stock-illustration-default-placeholder-man-and-woman.jpg"
                                                 alt="">
                                        </div>
                                        <div class="comment-details">
                                            <h4 class="comment-author">{{ comment.name }}</h4>
                                            <span>{{ comment.created_at|naturaltime }}</span>
                                            <p class="comment-description">{{ comment.message }}</p>
                                            <button id="reply-btn" data-id="{{ comment.id }}"
                                                    class="btn btn-outline-success">Reply
                                            </button>
                                            {% if comment.subcomments.count > 0 %}
                                                <button class="btn btn-outline-dark" type="button"
                                                        data-bs-toggle="collapse"
                                                        data-bs-target="#subcommentsList{{ comment.id }}"
                                                        aria-expanded="false"
                                                        aria-controls="collapseExample">
                                                    View ({{ comment.subcomments.count }})
                                                    Comment{{ comment.subcomments.count|pluralize }}
                                                </button>
                                            {% endif %}
                                        </div>
                                    </li>
                                    {% if comment.subcomments.count > 0 %}
                                        <div class="collapse card card-body border-0"
                                             id="subcommentsList{{ comment.id }}">
                                            {% for subcomment in comment.subcomments.all|dictsort:"created_at" %}
                                                <li class="comment-children">
                                                    <div class="comment-avatar">
                                                        <img src="https://st3.depositphotos.com/9998432/13335/v/450/depositphotos_133351928-stock-illustration-default-placeholder-man-and-woman.jpg"
                                                             alt="">
                                                    </div>
                                                    <div class="comment-details">
                                                        <h4 class="comment-author">{{ subcomment.name }}</h4>
                                                        <span>{{ subcomment.created_at|naturaltime }}</span>
                                                        <p class="comment-description">{{ subcomment.message }}</p>
                                                        {# <a class="btn btn-outline-success" href="#">Reply</a> #}
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% empty %}
                                <p class="text-muted mb-5">No comments yet. Be the first to leave a comment.</p>
                            {% endfor %}
                        </ul>
                    </div>
                    {% include 'blog/add-comment.html' with comment_form=comment_form %}
                </div>
            </div>
        </div>
    </section>
    <!-- End Blog Single-->
{% endblock %}

{% block scripts %}
    <script>
        const appendAlert = (name, message, date, type) => {
            const alertPlaceholder = document.getElementById('parentCommentPlaceholder')
            alertPlaceholder.innerHTML = "";
            const wrapper = document.createElement('div');
            wrapper.innerHTML = [
                `<div id="subcomment-alert" class="alert alert-${type} alert-dismissible fade show d-flex align-items-center gap-3 shadow border-secondary-subtle" role="alert">`,
                '   <span class="badge bg-warning">TO</span>',
                '   <img src="https://st3.depositphotos.com/9998432/13335/v/450/depositphotos_133351928-stock-illustration-default-placeholder-man-and-woman.jpg" alt="Avatar" class="rounded-circle" style="width: 72px; height: 72px;">',
                '   <div>',
                `       <h4 class="alert-heading">${name}</h4>`,
                `       <div>${message}</div>`,
                `       <p class="fw-bold">${date}</p>`,
                '   </div>',
                '   <button type="button" class="btn-close ml-auto" data-bs-dismiss="alert" aria-label="Close"></button>',
                '</div>',
            ].join('');
            alertPlaceholder.append(wrapper);
        };
    </script>
    <script>
        {# TODO: Sub-comment system will be developed #}
        const replyButtons = document.querySelectorAll('#reply-btn');
        const parentInput = document.querySelector('#id_parent');
        replyButtons.forEach(button => {
            button.addEventListener('click', () => {
                let commentId = button.getAttribute("data-id")
                const parentComment = button.closest(".comment-details")

                const name = parentComment.querySelector(".comment-author").textContent
                const message = parentComment.querySelector(".comment-description").textContent
                const date = parentComment.querySelector("span").textContent
                appendAlert(name, message, date, 'light');
                parentInput.value = commentId

                const parentAlert = document.querySelector(".alert");
                document.querySelector('.form-comments').scrollIntoView({
                    behavior: 'smooth'
                });
                parentAlert.addEventListener('close.bs.alert', () => {
                    commentId = null;
                    parentInput.value = commentId
                })
            })
        });
    </script>
{% endblock %}